@font-face {
    font-family: 'essential_pragmatapro';
    src: url('fonts/pragmata.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    color: #333;
    font-family: "essential_pragmatapro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    height: 100%;
    width: 100%;
    justify-content: center;
}
a,
a:hover,
a:visited {
    color: #333;
    text-decoration: none;
}
#name a {
    font-size: 1.5em;
    color: blue;
    border-bottom: 3px solid #eee;
}
#contact-link {
    background: #eee;
    padding: 0.25em;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
#contact-link:hover {
    border-color: #ccc;
    background: #ddd;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
article {
    text-align: center;
}
img {
    width: 90%;
    height: auto;
    margin: 1em 0;
    border: 1em solid #eee;
}
#video {
    width: 960px;
    height: auto;
    border: 1em solid #eee;
}
@media only screen and (max-width: 1000px) {
    #video {
        width: 90%;
    }
}

